USE [master]
GO
/****** Object:  Database [MasterDB]    Script Date: 14/11/2025 10:14:22 AM ******/
CREATE DATABASE [MasterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MasterDB', FILENAME = N'C:\Users\Matthew\source\repos\BIT34_StaAna_IntegProg_LabEquipmentSystem\LabEquipmentSystemForms\MasterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MasterDB_log', FILENAME = N'C:\Users\Matthew\source\repos\BIT34_StaAna_IntegProg_LabEquipmentSystem\LabEquipmentSystemForms\MasterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MasterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MasterDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AdminID] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EquipmentID] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Description] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentRequest]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentRequest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RequestID] [uniqueidentifier] NOT NULL,
	[AdminID] [nvarchar](100) NULL,
	[StudentID] [nvarchar](100) NOT NULL,
	[EquipmentID] [nvarchar](100) NOT NULL,
	[Quantity] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentTransaction]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTransaction](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [uniqueidentifier] NOT NULL,
	[RequestID] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[DateTimeBorrowed] [datetime] NULL,
	[DateTimeReturned] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](30) NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[Course] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [AdminID], [Password]) VALUES (1, N'Matthew', N'123')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([ID], [EquipmentID], [Name], [Quantity], [Description]) VALUES (6, N'BRD', N'Bread Board', 50, N'Generic')
INSERT [dbo].[Equipment] ([ID], [EquipmentID], [Name], [Quantity], [Description]) VALUES (1, N'HDMI', N'HDMI', 10, N'5 meters')
INSERT [dbo].[Equipment] ([ID], [EquipmentID], [Name], [Quantity], [Description]) VALUES (3, N'LPTP', N'Laptop', 10, N'Macbook')
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentRequest] ON 

INSERT [dbo].[EquipmentRequest] ([ID], [RequestID], [AdminID], [StudentID], [EquipmentID], [Quantity], [RequestDate], [Status]) VALUES (18, N'77c35f19-3989-42ef-8e45-0b63faf052ae', N'Matthew', N'2025-1', N'RBTKT', 5, CAST(N'2025-11-14T00:00:00.000' AS DateTime), N'Completed')
INSERT [dbo].[EquipmentRequest] ([ID], [RequestID], [AdminID], [StudentID], [EquipmentID], [Quantity], [RequestDate], [Status]) VALUES (9, N'f843e2c2-fabf-47f6-8662-103650b2f0e4', N'Matthew', N'2025-1', N'LPTP', 1, CAST(N'2025-11-14T00:00:00.000' AS DateTime), N'Approved')
INSERT [dbo].[EquipmentRequest] ([ID], [RequestID], [AdminID], [StudentID], [EquipmentID], [Quantity], [RequestDate], [Status]) VALUES (17, N'd2e91578-61d7-46c8-adc3-3609cf3dfe6d', N'Matthew', N'2025-1', N'PRJT', 5, CAST(N'2025-11-14T00:00:00.000' AS DateTime), N'Completed')
SET IDENTITY_INSERT [dbo].[EquipmentRequest] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentTransaction] ON 

INSERT [dbo].[EquipmentTransaction] ([ID], [TransactionID], [RequestID], [Status], [DateTimeBorrowed], [DateTimeReturned]) VALUES (7, N'86f25fca-83ba-4450-b443-4ed0d498ada0', N'c7acb2ed-4749-485d-a3c6-41d968d590e4', N'Returned', CAST(N'2025-11-14T10:03:45.730' AS DateTime), CAST(N'2025-11-14T10:03:59.480' AS DateTime))
INSERT [dbo].[EquipmentTransaction] ([ID], [TransactionID], [RequestID], [Status], [DateTimeBorrowed], [DateTimeReturned]) VALUES (4, N'6812168d-30d7-4291-b157-74ac515e7527', N'c800c19c-ee95-4514-baa5-6967f9bf108b', N'Returned', CAST(N'2025-11-14T09:40:54.970' AS DateTime), CAST(N'2025-11-14T09:52:27.690' AS DateTime))
INSERT [dbo].[EquipmentTransaction] ([ID], [TransactionID], [RequestID], [Status], [DateTimeBorrowed], [DateTimeReturned]) VALUES (1, N'86afe829-7c89-40fd-ada7-7b118aa45d80', N'b87f3c40-5b1f-4ab8-8cad-7917608bf1e8', N'Returned', CAST(N'2025-11-14T09:40:41.720' AS DateTime), CAST(N'2025-11-14T09:50:35.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[EquipmentTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

SET IDENTITY_INSERT [dbo].[Student] OFF
GO
ALTER TABLE [dbo].[EquipmentRequest] ADD  DEFAULT (newid()) FOR [RequestID]
GO
ALTER TABLE [dbo].[EquipmentTransaction] ADD  DEFAULT (newid()) FOR [TransactionID]
GO
ALTER TABLE [dbo].[EquipmentTransaction] ADD  DEFAULT (newid()) FOR [RequestID]
GO
ALTER TABLE [dbo].[EquipmentRequest]  WITH CHECK ADD  CONSTRAINT [FK_Handler_Admin] FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
GO
ALTER TABLE [dbo].[EquipmentRequest] CHECK CONSTRAINT [FK_Handler_Admin]
GO
ALTER TABLE [dbo].[EquipmentRequest]  WITH CHECK ADD  CONSTRAINT [FK_Requester_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[EquipmentRequest] CHECK CONSTRAINT [FK_Requester_Student]
GO
ALTER TABLE [dbo].[EquipmentRequest]  WITH CHECK ADD  CONSTRAINT [FK_Type_Equipment] FOREIGN KEY([EquipmentID])
REFERENCES [dbo].[Equipment] ([EquipmentID])
GO
ALTER TABLE [dbo].[EquipmentRequest] CHECK CONSTRAINT [FK_Type_Equipment]
GO
ALTER TABLE [dbo].[EquipmentTransaction]  WITH CHECK ADD  CONSTRAINT [FK_RequestReference_EquipmentRequest] FOREIGN KEY([RequestID])
REFERENCES [dbo].[EquipmentRequest] ([RequestID])
GO
ALTER TABLE [dbo].[EquipmentTransaction] CHECK CONSTRAINT [FK_RequestReference_EquipmentRequest]
GO
/****** Object:  StoredProcedure [dbo].[Admin_AddEquipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_AddEquipment]
	@EquipmentID	nvarchar(100),	
	@Name	nvarchar(50),	
	@Quantity	int,
	@Description	nvarchar(150)	

AS
	INSERT INTO Equipment (
		EquipmentID, 
		Name, 
		Quantity, 
		Description)
	VALUES (
		@EquipmentID,
		@Name,
		@Quantity,
		@Description)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_AddStudent]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_AddStudent]
	@StudentID	nvarchar(100),
	@Password	nvarchar(30),
	@ProfilePicture	varbinary(MAX),
	@FirstName	nvarchar(50),	
	@LastName	nvarchar(50),	
	@Gender	nvarchar(20),	
	@Course	nvarchar(20)	

AS
	INSERT INTO Student (
		StudentID,
		Password,
		ProfilePicture,
		FirstName,
		LastName,
		Gender,
		Course)
	VALUES (
		@StudentID,
		@Password,
		@ProfilePicture,
		@FirstName,
		@LastName,
		@Gender,
		@Course)
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ApproveEquipmentRequest]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ApproveEquipmentRequest]
	@RequestID	uniqueidentifier,
	@AdminID	nvarchar(100)	

AS
	UPDATE EquipmentRequest
		SET
			Status = 'Approved',
			AdminID = @AdminID
		WHERE
			RequestID = @RequestID
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_DenyEquipmentRequest]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_DenyEquipmentRequest]
	@RequestID	uniqueidentifier,
	@AdminID	nvarchar(100)

AS
	UPDATE EquipmentRequest
		SET
			Status = 'Denied',
			AdminID = @AdminID
		WHERE
			RequestID = @RequestID
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_EditEquipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_EditEquipment]
	@OldEquipmentID	nvarchar(100),	
	@OldName	nvarchar(50),	
	@OldQuantity	int,	
	@OldDescription	nvarchar(150),

	@NewEquipmentID	nvarchar(100),	
	@NewName	nvarchar(50),	
	@NewQuantity	int,	
	@NewDescription	nvarchar(150)

AS
	UPDATE Equipment
		SET
			EquipmentID = @NewEquipmentID,
			Name = @NewName,
			Quantity = @NewQuantity,
			Description = @NewDescription
		WHERE
			EquipmentID = @OldEquipmentID AND
			Name = @OldName AND
			Quantity = @OldQuantity AND
			Description = @OldDescription
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewEquipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewEquipment]
	
AS
	SELECT * FROM Equipment
	ORDER BY
		EquipmentID ASC,
		Name ASC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewEquipmentRequests]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewEquipmentRequests]
	@Status	nvarchar(50) = NULL

AS
	SELECT *
	FROM EquipmentRequest
	WHERE
		@Status IS NULL 
		OR @Status = '' 
		OR Status = @Status
	ORDER BY
		RequestDate DESC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewEquipmentTransactions]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewEquipmentTransactions]
	@Status	nvarchar(50) = NULL
AS
	SELECT * 
	FROM EquipmentTransaction
	WHERE
		@Status IS NULL 
		OR @Status = '' 
		OR Status = @Status
	ORDER BY
		DateTimeBorrowed DESC,
		DateTimeReturned DESC;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Admin_ViewStudents]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Admin_ViewStudents]
	
AS
	SELECT * FROM Student
	ORDER BY
		LastName ASC,
		FirstName ASC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Login_Admin]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login_Admin]
	@AdminID	nvarchar(100),	
	@Password	nvarchar(50)	

AS
	SELECT * FROM Admin
	WHERE
		AdminID = @AdminID
		AND Password = @Password
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Login_User]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Login_User]
	@StudentID	nvarchar(100),	
	@Password	nvarchar(30)	

AS
	SELECT * FROM Student
	WHERE
		StudentID = @StudentID
		AND Password = @Password
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_BorrowEquipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_BorrowEquipment]
	@RequestID	uniqueidentifier,
	@StudentID	nvarchar(100),
	@DateTimeBorrowed	datetime
	-- Removed @DateTimeReturned since it should be NULL upon borrowing
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @EquipID nvarchar(100);
	DECLARE @QuantityToDeduct int;
    DECLARE @AvailableStock int;

	BEGIN TRANSACTION;

    -- Check for existing transaction (Prevent Double Borrow)
    IF EXISTS (SELECT 1 FROM EquipmentTransaction WHERE RequestID = @RequestID AND DateTimeReturned IS NULL)
    BEGIN
        -- If an active transaction already exists for this request ID
        RAISERROR('Error: Equipment is already borrowed under this request ID.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN 1;
    END

	-- Retrieve Request Details and Available Stock
    SELECT
        @EquipID = ER.EquipmentID,
        @QuantityToDeduct = ER.Quantity,
        @AvailableStock = ISNULL(E.Quantity, 0) -- Get current stock, treat NULL as 0
    FROM EquipmentRequest AS ER
    INNER JOIN Equipment AS E ON ER.EquipmentID = E.EquipmentID
    WHERE
        ER.RequestID = @RequestID
        AND ER.StudentID = @StudentID;

    -- Stock Sufficiency Check
    IF @AvailableStock < @QuantityToDeduct
    BEGIN
        RAISERROR('Error: Not enough stock available. Requested: %d, Available: %d.', 16, 1, @QuantityToDeduct, @AvailableStock);
        ROLLBACK TRANSACTION;
        RETURN 3;
    END

    -- Deduct Stock from Equipment table
    UPDATE Equipment
    SET Quantity = Quantity - @QuantityToDeduct
    WHERE EquipmentID = @EquipID;

    -- Insert the new transaction record
	INSERT INTO EquipmentTransaction (
		RequestID,
		Status,
		DateTimeBorrowed,
		DateTimeReturned -- This will automatically be NULL as per column definition
	)
	VALUES (
		@RequestID,
		'Borrowed',
		@DateTimeBorrowed,
		NULL -- Explicitly set to NULL
	);

    -- Update the status of the original request
	UPDATE EquipmentRequest
	SET Status = 'Fulfilled'
	WHERE RequestID = @RequestID;

	COMMIT TRANSACTION;
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_GetNameById]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_GetNameById]
	@StudentID	nvarchar(100)	

AS
	SELECT
		ISNULL(FirstName, '') + ' ' + ISNULL(LastName, '') AS FullName
	FROM Student
	WHERE StudentID = @StudentID
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_RequestEquipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_RequestEquipment]
	@StudentID	nvarchar(100),	
	@EquipmentID	nvarchar(100),	
	@Quantity	int,
	@RequestDate	datetime,
	@Status	nvarchar(50)
AS
BEGIN
    DECLARE @AvailableStock INT;

	-- Check Equipment.Quantity based on @EquipmentID
    SELECT @AvailableStock = Quantity
    FROM Equipment
    WHERE EquipmentID = @EquipmentID;

    -- Check if EquipmentID is valid
    IF @AvailableStock IS NULL
    BEGIN
        RAISERROR('Error: The specified equipment ID is invalid.', 16, 1);
        RETURN 1;
    END

	-- Add the Stock Check
	IF @Quantity > @AvailableStock
	BEGIN
        RAISERROR('Error: Requested quantity (%d) exceeds available stock (%d).', 16, 1, @Quantity, @AvailableStock);
		RETURN 2;
	END

	-- If stock is sufficient, make request
	INSERT INTO [dbo].EquipmentRequest (
		StudentID,
        EquipmentID,
		Quantity,
		RequestDate,
		Status
	)
	VALUES (
		@StudentID,
		@EquipmentID,
		@Quantity,
		@RequestDate,
		@Status
	);
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_ReturnEquipment]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_ReturnEquipment]
	@RequestID	uniqueidentifier,
	@StudentID	nvarchar(100),
	@DateTimeReturned	datetime
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @EquipID nvarchar(100);
	DECLARE @QuantityToReturn int;

	BEGIN TRANSACTION;
	
	-- Check for multiple returns (Prevent Double Return)
    IF EXISTS (
        SELECT 1 
        FROM EquipmentTransaction 
        WHERE RequestID = @RequestID AND DateTimeReturned IS NOT NULL
    )
    BEGIN
        -- If the return date is already set, raise an error and stop.
        RAISERROR('Error: Equipment has already been returned for this request ID.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN 1;
    END

	-- Retrieve Request Details
	SELECT
		@EquipID = ER.EquipmentID,
		@QuantityToReturn = ER.Quantity
	FROM EquipmentRequest as ER
	INNER JOIN EquipmentTransaction AS ET
		ON ER.RequestID = ET.RequestID
	WHERE
		ER.RequestID = @RequestID
		AND ER.StudentID = @StudentID;

    -- Check if the request was found
    IF @EquipID IS NULL
    BEGIN
        RAISERROR('Error: Active borrow transaction not found or does not belong to the specified student.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN 2;
    END
    
    -- Increment Stock in Equipment table
	UPDATE E
		SET E.Quantity = ISNULL(E.Quantity, 0) + @QuantityToReturn
		FROM Equipment AS E
		WHERE E.EquipmentID = @EquipID;

    -- Update the existing transaction record
	UPDATE EquipmentTransaction
		SET
			DateTimeReturned = @DateTimeReturned,
			Status = 'Returned'
		WHERE RequestID = @RequestID;

    -- Update the status of the original request
	UPDATE EquipmentRequest
		SET Status = 'Completed'
		WHERE RequestID = @RequestID;
	
	COMMIT TRANSACTION;
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_ViewMyEquipmentRequests]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_ViewMyEquipmentRequests]
    @StudentID nvarchar(100),
    @Status nvarchar(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        RequestID,
        AdminID,
        StudentID,
        EquipmentID,
        Quantity,
        RequestDate,
        Status
    FROM EquipmentRequest
    WHERE 
        StudentID = @StudentID
        AND (
            @Status IS NULL
            OR @Status = ''
            OR Status = @Status
        )
    ORDER BY RequestDate DESC;
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Student_ViewMyEquipmentTransactions]    Script Date: 14/11/2025 10:14:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Student_ViewMyEquipmentTransactions] 
	@StudentID	nvarchar(100),
	@Status	nvarchar(50) = NULL

AS
	SET NOCOUNT ON;

	SELECT ET.*
	FROM
		EquipmentTransaction AS ET
	INNER JOIN
		EquipmentRequest AS ER
		ON ET.RequestID = ER.RequestID
	WHERE
		ER.StudentID = @StudentID
		AND (
			@Status IS NULL
			OR @Status = ''
			OR ET.Status = @Status
		)
	ORDER BY
		ET.DateTimeBorrowed DESC,
		ET.DateTimeReturned DESC
RETURN 0
GO
USE [master]
GO
